﻿#txtInicio, #txtMoments, #IcoMoments {display: inline-block; margin-left: 9px;}
#topoMenu {
    margin-top: 8px;
}
 #txtEntrar, #iptBusca {display: inline-block; margin-left: 9px;}
#divFaixa {background-color: aqua; height: 200px;}
#imgPerfil {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: -113px;
    border: 6px solid;
    border-color: #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
}
#txtNomePerfil, #txtNomePerfil {display: inline-block;}
#iptBusca {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 

}
#txtSeguindo, #txtTweets,#txtSeguidores,#txtCurtidas  {display: inline-block; margin-left: 38px; }

#faixaOpcoes{width:100%;height:60px;background-color:#fff;border-bottom:1px solid #e1e8ed;position:absolute;top:230px;}

#divNovidades{width:100%;height:260px;background-color:#fff;border:1px solid #e1e8ed;position:absolute;margin-top: 50px; margin-left: 30px;-moz-border-radius: 15px;
    -webkit-border-radius: 15px;}

.textoTrends {margin-left: 7px; color:aqua}
.trends{margin-left: 7px; color: cornflowerblue }
.valorTrends{margin-left: 9px; color: cadetblue; margin-top: -5px;}


.conteudoTweets{border: 1px solid #e1e8ed; -moz-border-radius: 15px; -webkit-border-radius: 15px;background-color: #fff; }
#tituloTweets{border: 1px; margin-left: 9px;}
#imgPerfilTweets{width: 8%; height: 16%; margin: 25px;}
#txtNomePerfilTweets{color: black;}
#imgPerfilTweets, #txtNomePerfilTweets{display: inline-block}
#txtTweetsDescricao{margin: 20px;}