﻿#container{
    
    width: 1200px;
    margin: 0 auto;
}
#containerSuperior{
    shape-margin: -222px;
}
.imgLogo{
    width: 33px;
    display: inline-block;
    padding: 0px;
}
.txtSuperior{
    position: relative;
    top: -12px;
    display: inline-block;
    margin-right: 30px;
}
#moments, #logo, #inputSuperior{display: inline-block}

#inputBusca{
    position: relative;
    top: -12px;
    margin-left: 420px;
    margin-right: 30px;
}
#inputBusca{
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: 26px;
    padding: 3px;
}
#containerPrincipal{
    margin-left: -83px;
}
#ContainerFaixa{
    margin-top: -19px;
    margin-left: 0px auto;
}
#ImgFaixa{
    margin: 0px;
    width: 1366px;
    height: 230px;
}
#imgPerfil{
    border: 4px solid;
    border-color: white;
    border-radius: 30px;
    top: -112px;
    margin-left: 80px;
    margin-top: -155px;
    width: 228px;
    height: 240px;
}
#txtNomeUsuario{
    margin-left: 120px;
    margin-top: -6px;
    color: black;
    text-decoration: none;
}
.txtPerfil{
    margin-left: 92px;
    margin-top: -17px;
    color: black;
    text-decoration: none;
}

.imgPublicadas{
    width: 78px;
    height: 60px;
}
#fotosPublicadas{
    margin-left: 100px;
    margin-top: 45px;
    width: 300px;
    height:400px;
}
#txtNumImg{
    margin-left: 10px;
    color: black;
}



