﻿.opcoesTopo, #buscatopo{display: inline-block; padding: 12px;}
.txtMenu{color: #BEBEBE;}
#buscatopo{margin-left: 460px;}

.icoTopo{color: white; padding: 4px;}
#icoSubMenu{display:inline-block; margin-left: 900px; width: 40px; height: 40px; background-color: #F5F5F5}
#txtSubMenu{padding: 8px; display:inline-block; margin-left: 30px; margin-top: 20px;}
#icoSub{margin-left: 40px; margin-right: -28px;}
#barraSubMenu{background-color: white; border: 1px solid; border-color: #DCDCDC;}
.colEspaco{margin-top: 20px;}
.txtMenuRodape{margin-left: 80px; color: #BEBEBE;}
.imgIco{margin-right: -70px; margin-top: 4px;}
.txtMenu{margin-left: 4px !important; margin-top: 266px !important;}
#primeiraLinhaImg{margin-left: -8px;}
#segundaLinhaImg{margin-left: 50px;}
#terceiraLinhaImg{margin-left: 58px;}
#quartaLinhaImg{margin-top: -194px;}
.txtImgMostruario{color:#BEBEBE;}
.txtValorMostruario{color:brown;}
#txtFromTheBlog, #txtRecentEvents{display:inline-block; margin-right: 422px; }
#txtTituloImgHomem, #imgHomem{display: inline-block ;}
.txtImgHomem{margin-top: -240px;}
#txtParagrafo{margin-top: -100px;}
.icoSeta{display: inline-block; margin-left: 1010px;}
.icoEstrelaAmarela, .txtValorMostruario, icoEstrelaBranca{display: inline-block;}
.icoEstrelaAmarela{color:#FFA500}
.icoEstrelaBranca{color: #CDCDC1;}
#txtTituloImgRelogio{display: inline-block; margin-top: -40px;}
.divInferior{border: 1px solid; color: #CDCDC1}            
#Newsletter{color: black}
#txtEnterEmail, #Newsletter{display:inline-block; padding: 5px; margin-left: 30px;}
#btnSignUp{background:brown}
#btnSignUp{margin-left: 120px;}