﻿#container{
    
    width: 1200px;
    margin: 0 auto;
}
#logo-youtube{
    width: 120px;
}
#divlogo, #form-Busca, #menu{
    display: inline-block;
}
#form-Busca{
    position: relative;
    top: -32px;
}

.listaMenu {
    padding-right: 10px;
    border-right: none !important;
    display: inline-block;
    position: relative;
    top: -32px;
}

#containerEsquerda, #containerDireita{
    display:inline-block;
}
#ImgSugestao{
    width: 140px;
}
#containerDireita{
    padding: 20px;
    border-left: 2px solid #333;
}
#containerEsquerda{
    padding: 65px;
}
.ImgSugestao, .textoSugestao{display: inline-block; padding: 7px; }

.nomeAutor{
    margin: 0px;
}
